<footer>
    <div class="container">
        <div class="row footer-content">
            <div class="col-xs-12 col-md-10">
                <p>
                    Barbara Piesowicz • + 48 795 494 729 • barbara.piesowicz at adwokatura.pl
                </p>
            </div>
            <div class="col-xs-6 col-md-2">
                <div class="btn-group dropup">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if site.lang == "" %}
                        {% t navigation.language %}
                        {% else %}
                        {{ site.languageNames[site.lang] }}
                        {% endif %} 
                    </button>
                    <ul class="dropdown-menu">
                        {% if site.lang != "" %}
                        <li><a class="active" href="#">{{ site.languageNames[site.lang] }}</a></li>
                        <li role="separator" class="divider"></li>
                        {% endif %} 
                        {% for lang in site.languageNames %}
                        {% if lang[0] == site.lang or lang[0] == "" %} {% continue %} {% endif %}
                        {% if page.namespace %}
                        <li><a href="{% tl {{ page.namespace }} {{ lang[0] }} %}">{{ lang[1] }}</a></li>
                        {% else %}
                        <li><a href="{{ site.baseurl_root }}/{{ lang[0] }}/">{{ lang[1] }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="copyright">&copy; {{ site.time | date: '%Y' }} Mateusz Polnik • Derived from a template by <a href="http://blackrockdigital.io/">Blackrock Digital</a></p>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ site.baseurl_root }}/assets/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl_root }}/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ site.baseurl_root }}/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="{{ site.baseurl_root }}/assets/vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="{{ site.baseurl_root }}/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Theme JavaScript -->
<script src="{{ site.baseurl_root }}/assets/js/creative.js"></script>